:root {/* Aqui São os principais elemento que utilizei no site */
    --cor-primaria: #2a9d8f;
    --cor-secundaria:#004d00 ;
    --text-color: #333;
    --light-bg: #bbf2ec;
    --dark-bg: #f4f4f4;
    --border-radius: 20px;
    --shadow: 0 12px 24px rgba(0, 0, 0, 0.3);
}

* {/* Todo O Site */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;/* Fonte Do Site */
    line-height: 1.6;
    background-image: linear-gradient(to bottom right, var(--light-bg), var(--dark-bg));/* Aqui São as Cores De Fundo */
    color: var(--text-color);
}

a {
    text-decoration: none; 
    color: inherit; 
}

.container {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

header {
    background-image: url('../images/11.jpg');/* Imagem De fundo Da Aba Do Cabeçalho  */
    background-size: cover;
    background-position: center;
    color: #fff;
    padding: 20px 0;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px; /* Padding geral */
}

.header-content .logo {
    max-width: 100px;
    filter: drop-shadow(2px 4px 6px rgba(0, 0, 0, 0.3));
}

.header-content h1 {/* Configuração do texto do Cabeçalho */
    flex-grow: 1;
    text-align: center;
    margin: 0;/* Padding geral */
}

.menu-toggle {/* Icone do Menu  */
    margin-left: 20px;
    background: transparent;
    border: none;
    color: white;
    font-size: 24px;
    cursor: pointer;
}

.sidebar { /* Essa é a Aba que abre quando o icone do menu é Ativado */
    width: 250px;
    background-image: url('../images/11.jpg');/* Imagem De fundo Da Aba De Menu */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: fixed;
    top: 0;
    right: -250px;
    height: 100%;
    padding: 20px;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
    transition: right 0.3s ease;
    z-index: 1000;
    border-right: 2px solid rgba(42, 157, 143, 0.9);
}

.sidebar.active {
    right: 0;
}

.close-menu {/* Menu  */
    background: transparent;
    border: none;
    color: #fff;/* Cor do Menu  */
    font-size: 24px;
    cursor: pointer;
    margin-bottom: 20px;
}

.sidebar nav ul {
    list-style: none;
    padding: 0;
}

.sidebar nav ul li {
    margin: 20px 0;
}

.sidebar nav ul li a {
    color: #fff;
    font-size: 1.2em;
    transition: color 0.3s;
    display: flex;
    align-items: center;
}

.sidebar nav ul li a i {
    margin-right: 10px;
    line-height: 1;
}

.sidebar nav ul li a:hover {
    color: var(--cor-secundaria);
}

main {
    padding: 20px;
    transition: margin-right 0.3s;
    margin-right: 0;
}


.slideshow-container, .slideshow-container2,.slideshow-container3{
    position: relative;
    width: 100%;
    max-width: 100%;
    overflow: hidden;
    border-radius: var(--border-radius);
}

.mySlides,.mySlides2,.mySlides3 {
    display: none;
    position: relative;
    width: 100%;
}

.mySlides img,.mySlides2 img, .mySlides3 img {/* Imagem dos SlidesShows */
    width: 100%;
    height: auto;
    max-height: 500px;
    object-fit: cover;
    border-radius: var(--border-radius);
}

.dots,.dots2,.dots3 {
    text-align: center;
    padding: 10px 0;
}

.dot,.dot2,.dot3 {
    height: 12px;
    width: 12px;
    margin: 0 4px;
    background-color: #bbb;/* Cor Da Bolinha De Navegação Quando Não Ativada */
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.dot.active,.dot2.active,.dot3.active {
    background-color: var(--cor-secundaria);/* Cor Da Bolinha De Navegação Quando Ativada */
}

.fade {
    animation: fadeEffect 1s ease-in-out;
}

@keyframes fadeEffect {
    from { opacity: 0; }
    to { opacity: 1; }
}

.testimonial-dots {
    position: absolute; /* Posiciona as bolinhas fora da imagem */
    bottom: 20px; /* Ajuste conforme necessário */
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    padding: 0;
    z-index: 1000;
}


.section-divider {/* a divisão entre as caixas, e  aqui voce escolhe as cores para o gradiente  */
    width: 100%;
    height: 4px;
    background-image: linear-gradient(to right, var(--cor-primaria), var(--cor-secundaria));
    margin: 60px 0;
    border-radius: var(--border-radius);
}

section {/* Configuarações das Caixas  */
    padding: 60px 0;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: var(--border-radius);
    box-shadow: var(--shadow);
    transition: transform 0.3s, box-shadow 0.3s;
    border: 2px solid var(--cor-primaria);
}

section:hover {
    transform: translateY(-5px);
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.2);
}

section h2 {/* Configuarações dos textos que estão dentro do section */
    margin-bottom: 20px;
    font-size: 2.5em;
    color: var(--cor-primaria);
    text-shadow: 1.5px 3px 4px rgba(0, 0, 0, 0.25);
}

section h3 {/* Configuarações dos textos que estão dentro do section */
    font-size: 1.8em; 
    color: var(--cor-primaria);
    margin: 20px 0; 
    text-shadow: 1px 2px 3px rgba(0, 0, 0, 0.2);
}

section p {/* Configuarações dos textos que estão dentro do section */
    margin: 0 auto 30px;
    max-width: 800px;
    font-size: 1.5em;
    color: #555;
}

footer { /* Rodapé do Site */
    background-image: url('../images/11.jpg'); /* Imagem de fundo para o footer */
    background-size: cover;
    background-position: center; 
    color: #fff;
    text-align: center;
    padding: 40px 0;
    border-top-left-radius: 50% 10%;
    border-top-right-radius: 50% 10%;
}

footer h3 {/* Estilos dos Textos do Rodapé do Site */
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 20px;
}

.social-icons {
    margin-top: 20px;
}

.social-icons a {
    color: #fff;/*Cor dos icones Das Redes Sociais */
    text-decoration: none;
    margin: 0 20px;
    font-size: 32px;
    transition: transform 0.3s;
}

.social-icons a:hover {
    transform: scale(1.2);
}

.button {/*configurações de todos os botões do site */
    display: inline-block;
    background-color: var(--cor-secundaria);/*cor de todos botões*/
    color: #fff;
    text-decoration: none; 
    padding: 16px 32px;
    border-radius: 30px;
    transition: all 0.3s ease;
    font-size: 1.2em;
    text-transform: uppercase;
}

.button:hover {
    background-color:  #008000;/*ao passar o mouse no botão ele muda para essa cor */
    transform: translateY(-3px);
}

@media (max-width: 768px) {/*Parte Responsiva para o Mobile*/

    .header-content {
        padding: 0 10px; 
        margin-left: -5px; 
        margin-right: -10px;
    }
    .header-content h1 {
        text-align: center;
        font-size: 1.8em;
    }
    .container {
        width: 90%;
    }
    .sidebar {
        width: 200px;
    }
    .sidebar.active {
        right: 0;
    }
    main {
        margin-right: 0;
        padding: 20px;
    }
    .hero-content h2 {
        font-size: 1.8em;
    }
    .hero-content p {
        font-size: 1em;
    }
    .mySlides img {
        height: auto;
        max-height: 300px;
    }
}
